@media (max-width: 650px) {

    .header {
        padding: 0 20px;
    }

    header ul {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header span {
        display: block !important;
        font-size: 25px !important;
        color: #555;
        cursor: pointer;
    }

    .main {
        display: flex;
        flex-direction: column;
        margin-top: 117px;
    }

    .container .main .main_left {
        order: 1;
        width: 100%;
    }

    .container .main .main_right {
        order: 2;
        width: 100%;
    }

    .container .main .main_right h1 {
        padding: 0 38px;
    }

    .container .main .main_right p {
        padding: 0 36px;
    }

    .container .main .sendEmail {
        display: none;
    }

    .container .main .main_right .application_snap {
        border: 2px solid #eee;
        padding: 10px 40px;
        border-radius: 8px;
        color: #262626;
        text-decoration: none;
        background: #fff;
        display: block;
        text-align: center;
        margin: 32px;
        transition: 0.5s;
    }

    .container .market_img {
        display: none;
    }

    .container .service .main_service h1 {
        width: 100%;
        display: flex;
        justify-content: start;
        padding-top: 110px;
        color: #4a4a4a;
        font-size: 30px;
        padding-right: 30px;
    }

    .container .service .main_service ul li a div p {
        display: none;
    }


    .container .service .main_service {
        width: 100%;
    }

    .container .service .main_service ul li a img {
        width: 45px;
        height: 45px;
    }

    .container .service .main_service ul li a div h4 {
        color: #262626;
        font-size: 15px;
        font-weight: bold;
    }

    .container .service .main_service ul li a div {
        text-align: center;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .container .service .main_service ul li a {
        display: flex;
        justify-content: start;
        align-items: center;
        padding-right: 0;
        flex-direction: column;
        height: 100%;
        margin: 7px 0;
    }

    .container .service .main_service ul li{
        width: calc(33.3333333% - 30px);
        margin: 15px auto;
        height: 80px;
        background-color: white;
        border-radius: 20px;
    }


    .container .banner_food{
        width: 100%;
        height: 210px;
        border-radius: 10px;
        margin: 40px auto;
        padding: 0 30px;
    }


    .container .s_snap{
        width: 100%;
        height: 430px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 140px;
        flex-direction: column;
    }


    .container .s_snap .s_snap_right{
        width: 100%;
        height: 100%;
    }

    .container .s_snap .s_snap_left{
        width: 100%;
        height: auto;
        padding: 25px 35px;
    }

    .container .s_snap .s_snap_left h2{
        font-size: 25px;
        color: #464646;
    }
    .container .s_snap .s_snap_left p{
        font-size: 15px;
        color: #363636;
        margin-top: 20px;
    }

    .container .s{
        width: 100%;
        height: 325px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        text-align: right;
        justify-content: space-between;
        align-items: center;
        margin-top: 210px;
    }

    .container .s .s_one{
        width: calc(33.333333% - (-10px));
        height: 100%;
        position: relative;
        top: -70px;
        margin:25px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .s .s_one h3{
        width: 100%;
        margin-top: 25px;
        margin-bottom: 5px;
        padding: 0;
        font-size: 18px;
    }


    .container .s .s_one p{
        padding: 0;
        font-size: 15px;
    }
    section{
        margin-top: 400px;
    }
    section div{
        width: 100%;
    }

    section div p{
        font-size: 16px;
    }

    video{
        width: 80%;
    }


    .end{
        width: 100%;
    }
    .end ul{
        justify-content: start;
        padding: 30px;
        padding-right: 10px;
        flex-direction: column;
    }
    .end ul li{
        padding: 20px;
        flex-direction: column;
        width: 100%;
    }

    footer ul{
        flex-wrap: wrap;
    }
    footer ul li{
        padding: 15px;
    }
    .social{
        width: 100%;
    }


}